.group:after {
    content: "";
    display: table;
    clear: both;
}

.site-header {
    background: #3f51b5;
    color: #fff;
    padding: 10px 5%;
    box-shadow: #999 0 1px 3px;
}

.site-header h1 {
    margin: 0;
    font-size: 20px;
    float: left;
}

.main-nav {
    float: right;
}

.main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-nav ul li {
    display: inline;
}

.main-nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

#main-text {
    color: blue;
}

.intro-text {
    font-size: 18px;
}

.billboard {
    background: #ccc;
    text-align: center;
    padding: 40px;
}

.billboard h2 {
    margin-top: 0;
}